<div class="container">
    <h1><%= title %></h1>
</div>

<html>
    <body>
<h5>About Me</h5>
<p>
    My name is Iris Guillermo and I am currently in my 3rd semester for program 
    <br>Software Engineering Technology.  Before enrolling 
    to this program, 
    <br>I was working as a dental receptionist/assistant for 5 years. 
    <br>
    <br> I chose Software Engineering Technology program because I'm an handson person, 
    <br>I like to solve problems and helping people.

</p>


    </body>
</html>