<div class="container">
    <h1><%= title %></h1>
</div>
<br>
<br>
<center><img src="/content/images/welcome1.png"></center>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center><h1 style="color: rgb(74, 48, 245);">Mission Statement:</h1>
<p>My mission is to create custom websites with ingenuity, innovation and imagination.</p></center>