<div class="container">
    <h1><%= title %></h1>
</div>
<br>
<br>
<center><img src="/content/images/services.png">
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <img src="./content/images/pic1.jpg" style="width:250"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Web Design/Development
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="./content/images/pic2.jpg" style="width:250">
    Mobile pplication Development
</center>
</body>