<html>
<head>

<title>EJS</title> 

</head>
<h1>Hello Hello Hello</h1>
<p>This is pretty cool</p>

<body>

<header><%- include ('components/header.ejs'); %> </header>
<main>
    <%- include ('contents/homepage.ejs'); %>
</main>
</body>

<footer>
    <%- include ('components/footer.ejs'); %>

</footer>
</html>